@import "helper";
@import "variables";
@import "grid";
@import "theme";

// Global
body {
  font-family: $body-font;
}

ul {
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin: 0;
  padding: 0;
}

img{
  height: auto;
  width: 100%;
}
// Global
