@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* Medium */
  /* Large */
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

.row {
  width: 100%;
}

.row--centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row [class^="col"] {
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 98%;
}

.col-1-sm {
  width: 6.33333%;
}

.col-2-sm {
  width: 14.66667%;
}

.col-3-sm {
  width: 23%;
}

.col-4-sm {
  width: 31.33333%;
}

.col-5-sm {
  width: 39.66667%;
}

.col-6-sm {
  width: 48%;
}

.col-7-sm {
  width: 56.33333%;
}

.col-8-sm {
  width: 64.66667%;
}

.col-9-sm {
  width: 73%;
}

.col-10-sm {
  width: 81.33333%;
}

.col-11-sm {
  width: 89.66667%;
}

.col-12-sm {
  width: 98%;
}

@media only screen and (min-width: 992px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .row--spaced {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col-1 {
    width: 6.33333%;
  }
  .col-2 {
    width: 14.66667%;
  }
  .col-3 {
    width: 23%;
  }
  .col-4 {
    width: 31.33333%;
  }
  .col-5 {
    width: 39.66667%;
  }
  .col-6 {
    width: 48%;
  }
  .col-7 {
    width: 56.33333%;
  }
  .col-8 {
    width: 64.66667%;
  }
  .col-9 {
    width: 73%;
  }
  .col-10 {
    width: 81.33333%;
  }
  .col-11 {
    width: 89.66667%;
  }
  .col-12 {
    width: 98%;
  }
  .hidden-sm {
    display: block;
  }
}

/* Components */
/*info-block*/
.info-block__head {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #6d9dea;
  display: block;
}

.info-block__title h1,
.info-block__title h2.h3,
.info-block__title h4,
.info-block__title h5,
.info-block__title h6 {
  font-size: 65px;
  color: black;
  margin-bottom: 15px;
}

.info-block__body p {
  width: 45%;
  color: #9a9a9a;
  line-height: 1.8;
  margin-bottom: 50px;
}

.info-block__cta {
  display: block;
}

.info-block__cta a {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  color: #363638;
  text-decoration: none;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 2px solid #6d9dea;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.info-block__title--underline:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #6d9dea;
  display: block;
  margin-bottom: 20px;
}

/*info-block*/
.centered {
  text-align: center;
  margin: 0 auto;
}

.vert-line::after {
  content: "";
  height: 100px;
  width: 2px;
  background-color: #6d9dea;
  position: absolute;
  left: 50%;
  bottom: -160px;
}

/* components End*/
.site-header {
  padding: 35px 0;
}

.site-header .site-logo img {
  width: 16px;
  height: 44px;
}

.site-header .site-nav ul li {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 28px;
  font-size: 11px;
}

.site-header .site-nav ul a {
  display: block;
  color: #363638;
  text-decoration: none;
}

.site-header .site-nav ul a:hover {
  color: #6d9dea;
}

@media (max-width: 992px) {
  .site-header {
    text-align: center;
  }
  .site-header .site-logo {
    text-align: center;
  }
  .site-header ul {
    margin: 20px;
  }
  .site-header ul a {
    margin: 5px 0;
  }
}

.landing__slide {
  position: relative;
}

.landing__slide .landing-img {
  text-align: right;
}

.landing__slide .landing-img img {
  width: 83%;
  -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.landing__slide .landing-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.control-wrapper {
  position: absolute;
  top: 96%;
}

.landing__slider-control-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing__slider-control-block .landing__slider-control-block--arrow a {
  display: block;
  padding: 0 10px;
  font-size: 13px;
  color: #e9e8e8;
  cursor: pointer;
}

.landing__slider-control-block--active {
  color: #6d9dea;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.landing__slider-control-block--total {
  padding: 3px;
  font-size: 18px;
}

.landing__slider-control-block--total::before {
  content: "/";
  padding-right: 3px;
  color: #e9e8e8;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .landing-text {
    width: 80%;
  }
  .landing-text .info-block__title h1 {
    font-size: 50px;
  }
  .control-wrapper {
    position: absolute;
    top: 94%;
  }
}

@media (max-width: 992px) {
  .landing-text {
    width: 80%;
  }
  .landing-text .info-block__title h1 {
    font-size: 38px;
  }
  .control-wrapper {
    position: absolute;
    top: 92%;
  }
}

@media (max-width: 767px) {
  .landing-text {
    width: 100%;
  }
  .landing-text .info-block__title h1 {
    font-size: 30px;
  }
  .info-block__body {
    font-size: 15px;
  }
  .control-wrapper {
    position: absolute;
    top: 90%;
  }
}

@media (max-width: 400px) {
  .landing-text {
    width: 100%;
  }
  .landing-text .info-block__title h1 {
    font-size: 20px;
  }
  .info-block__body {
    font-size: 10px;
  }
  .control-wrapper {
    position: absolute;
    top: 90%;
  }
  .control-wrapper .landing__slider-control-block--arrow {
    padding: 0;
    font-size: 8px;
  }
  .control-wrapper .landing__slider-control-block--active {
    padding: 5px;
    font-size: 11px;
  }
  .control-wrapper .landing__slider-control-block--total {
    padding: 5px;
    font-size: 12px;
  }
}

.qoutation {
  padding-top: 150px;
}

.qoute {
  font-size: 20px;
  width: 65%;
  line-height: 1.5;
  position: relative;
}

.qoute__body {
  font-family: "Playfair Display", serif;
  color: #333333;
  font-size: 30px;
  text-align: center;
  padding-bottom: 25px;
}

.qoute__cite {
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.surfing {
  padding-top: 260px;
  position: relative;
  margin-bottom: 300px;
}

.surfing .surfing__surf-1 {
  position: relative;
  margin: 0;
  width: 650px;
  height: 370px;
  top: -50px;
}

.surfing .surfing__surf-2 {
  position: absolute;
  right: 0;
  width: 700px;
  height: 553px;
  -webkit-box-shadow: 50px 50px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 50px 50px 40px rgba(0, 0, 0, 0.2);
  margin-left: -20px;
}

.surfing .surfing__caption p {
  width: 30%;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */