@use 'variables' as *;

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
  color: $primary-text-color;

  &.lock {
    overflow: hidden;
  }

  &.opened {

    .mobile-menu-overlay {
      display: block;
    }

    .mobile-menu {
      right: 0;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  font-family: $primary-font;
  line-height: 1.2;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: $primary-font;
  line-height: 1.2;
  margin-bottom: 20px;
}

h3 {
  font-size: 26px;
  font-weight: 400;
  font-family: $primary-font;
  line-height: 1.2;
  margin-bottom: 20px;
}

h4 {
  font-size: 22px;
  font-weight: 400;
  font-family: $primary-font;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h6 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}