// Colors
$primary-color: #ff5964;

$primary-text-color: #333;

$primary-bg-color: #f9f9f9;
$secondary-bg-color: #222;
$tertiary-bg-color: #111;

$primary-border-color: #f1f1f1;

$primary-light-color: #fff;
$primary-dark-color: #000;

// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;

$heading-font:'Playfair Display', serif;