/* Start Global*/

/* Start Variables*/
:root {
    --primary-color: #10cab7;
    --secondary-color:#24484F;
    --nav-color:#f2f2f2;
    --font-color: #777;
    --section-bg-color:#f6f6f6;
    --section-title-color:#ebeced;
}

/* End Variables*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    position: relative;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global*/


/* Start Special Components*/
.section-title {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: var(--section-title-color);
    letter-spacing: -5px;
    margin: 0;
}

.section-title p {
    text-align: center;
    font-size: 20px;
    color: var(--font-color);
    letter-spacing: 0;
    font-weight: 400;
    margin: -35px 0 0 0;
}

@media (max-width:767px) {
    .section-title {
        font-size: 70px;
    }

    .section-title p {
        font-size: 15px;;
        margin: -25px 0 0 0;
    }

}

/* End Special Components*/



/* Start Header*/
.header {
    position: relative;
}

.header .fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--nav-color);
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .navbar .logo {
    width: 60px;
}

.header .navbar .links {
    position: relative;
    transition: .3s;
}

.header .navbar .menu {
    position: relative;

}

.header .navbar .links:hover .menu-icon span:nth-child(2) {
    width: 100%;
}

.header .navbar .links .menu-icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
}

.header .navbar .links:hover ul {
    transition: .53s;
    display: block;

}


.header .links .menu-icon span {
    background-color: black;
    margin-bottom: 4px;
    height: 2px;

}

.header .links .menu-icon span:first-child {
    width: 100%;
}

.header .links .menu-icon span:nth-child(2) {
    width: 50%;
    transition: .3s;
}


.header .links .menu-icon span:last-child {
    width: 100%;
}


.header .navbar .links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    min-width: 200px;
    background-color: var(--primary-color);
    display: none;
    z-index: 1;
    border-radius: 3.5%;

}



.header .links ul::before {
    content: '';
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--primary-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}


.header .links ul li {
    text-decoration: none;
    color: 637988;
    padding: 8px;

}

.header .links ul a {
    text-decoration: none;
    color: white;
}

.header .links ul a:hover {
    padding-left: 20px;
    transition: linear .3s
}

.header .header-bkg {
    width: 100%;
    background-size: cover;
    height: calc(100vh);
    filter: brightness(40%)
}

.header .header-text {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 50%;
    color: var(--primary-color);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 380px;
    max-width: 100%
}

.header h1 {
    font-size: 55px;

}

.header p {
    font-size: 20px;
}

/* End Header*/


/* Start Features*/
.feature {
    background-color: var(--section-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.feature .feature-f i {
    color: var(--primary-color);
}

.feature .feature-f h3 {
    font-weight: 900;
}

.feature .feature-f p {
    color: var(--font-color);
    line-height: 1.8;
}

/* End Features*/


/* Start Services */

.services .services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 50px;
    margin-top: 100px;
}
.services .col .serv-img img{
    width: 300px;
}
.services i{
    color: var(--primary-color);
}
.services .services-grid h3{
    display: inline;
    padding-left: 10px;
}

.services .services-grid p{
    color: var(--font-color);;
    line-height: 1.8;
}


@media (max-width: 768px) {
    .services .services-grid .col {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .services .col .serv-img img {
        display: none;
    }
}



/* End Services */


/* Start Portfolio */
.portfolio{
    background-color: var(--section-bg-color);
}

.portfolio .Portfolio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portfolio .Portfolio-grid .col {
    background-color: white;
}

.portfolio .Portfolio-grid .col img{
    max-width: 100%;
    min-height: 250px;
}

.portfolio .Portfolio-grid .col h3{
    padding-left: 20px;
}
.portfolio .Portfolio-grid .col p{
    padding-left: 20px;
    color: var(--font-color);;
    line-height: 1.6;
}

/* End Portfolio */


/* Start About us*/

.about .about-us-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

@media (max-width:991px) {
    .about .about-us-container {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-us-container .image {
    position: relative;
    
}

.about .about-us-container .image::before {
    content: "";
    position: absolute;
    background-color: var(--nav-color);
    width: 100px;
    height: 100%;
    top: -40px;
    left: -20px;
    z-index: -1;
}.about .about-us-container .image::after {
    position: relative;
    
}

.about .about-us-container img {
    width: 400px;
}

.about .about-us-container .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
}

.about .about-us-container .text hr{
    width: 60%;
    display: inline-block;
    border-color: var(--primary-color);

}

.about .about-us-container .text p:last-of-type{
    color: var(--font-color);
    line-height: 1.3;
}
/* End About us*/




/* Start Contact*/
.contact{
    background-color: var(--section-bg-color);
    text-align: center;

}

.contact .contact-content p:first-of-type{
    font-weight: 800;
    font-size: 30px;
    color: var(--secondary-color);
    margin: 0;

}

.contact .contact-content a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}

.contact .contact-content a i {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}


/* End Contact*/