/* Start Global*/

/* Start Variables*/
:root {
    --main-color: #00C7FC;
    --trans-color: rgb(15 116 143 /70%);
    --section-padding: 100px;
}

/* End Variables*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
}

ul {
    list-style: none;
}

.container {
    position: relative;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global*/


/*Components*/

section {
    text-align: center;
}

section .section-content h2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

section .section-content h2::before {
    content: '';
    width: 150px;
    background-color: black;
    position: absolute;
    bottom: -30px;
    left: 50%;
    height: 2px;
    transform: translateX(-50%);
}

section .section-content h2::after {
    content: '';
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -38px;
    left: 50%;
    height: 16px;
    width: 16px;
    border: 1px solid black;
    transform: translateX(-50%);
}

section .section-content p {
    width: 50%;
    margin: 0 auto;
    max-width: 100%;
    line-height: 2;
    color: #777;
}



/*Components*/


/* Header*/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100%);
    left: 0px;

}

header .logo {
    height: 40px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    /**/
}

header nav .toggle-menu {
    display: none;
}

@media (max-width: 768px) {

    header .container {
        padding: 15px 10px;
    }

    header nav .toggle-menu {
        display: block;
    }

    header nav ul li {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: 15px 0 !important;
    }
}


header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 30px;

}

header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

header nav .search {
    padding-left: 20px;
    border-left: 1px solid #fff;

}

header nav i {

    color: #fff;
}

header nav ul li .active,
header nav ul li a:hover {
    color: #00C7FC;
    border-bottom: 1px solid #00C7FC;
}

/* Header*/


/* Leading */

.landing {
    background-color: cyan;
    /*alternative*/
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-image: url("../assets/img/landing.jpg");

}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
}

.landing .overlay .slide {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-45%);
    padding: 40px;
    background-color: var(--trans-color);
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-end;

}


.landing .overlay .slide h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 37px;
    margin-bottom: 20px;
}

.landing .overlay .slide p {
    line-height: 1.6;
    font-size: 15px;
}

.landing .overlay .slide .slide-text {
    width: 70%;
}

@media (max-width: 767px) {

    .landing .overlay .slide {
        width: 100%;
    }

    .landing .overlay .slide .slide-text {
        max-width: 100%;
    }
}

.landing i:first-of-type {
    color: white;
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 2
}

.landing i:nth-of-type(2) {
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 3;
    display: flex;

}

.landing .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    z-index: 2;
    color: transparent;


}

.landing .bullets li {
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 20px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);


}

/* Leading */

/* Services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

section .services-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    text-align: initial;
}

section .services-grid .col {
    display: flex;
    padding-top: 50px;
}


section i {
    padding-right: 50px;

}

section .serv-content h2 {
    display: flex;
    color: var(--main-color);
    justify-content: flex-start;
    padding-bottom: 20px;
}

section .serv-content p {
    color: #777;
    line-height: 2;
}

/* Services */

/*Features*/



.feature {
    padding-bottom: var(--section-padding);

}

.feature .fet-background {
    position: relative;
    background-image: url(../assets/img/design-features.jpg);
    background-size: cover;
    overflow: hidden;

}

.feature .overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}

.feature .fet-content {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    display: flex;
    align-items: center;
}

.feature .fet-content .image {
    flex: 1;
}

@media (max-width: 768px) {
    .feature .fet-content .image {
        display: none;
    }
}

.feature .fet-content .image  img{
    position: relative;
    bottom: -150px;
}

.feature .fet-content .fet-text {
    color: white;
    padding: 50px;
    background-color: var(--trans-color);
    flex: 1;
    text-align: initial;
}

.feature .fet-content .fet-text h2{
    font-weight: normal;
    margin-bottom: 50px;
    font-size: 25px;
    text-transform: uppercase;
}

.feature .fet-content .fet-text ul li{
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 17px;
}

.feature .fet-content .fet-text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
}

/*Features*/

/* Portfolio */


.portfolio {
    padding-bottom: var(--section-padding);
}

/* Portfolio */